{% extends "templates/loading.html" %}

{% block head %}
{#<meta name="robots" content="noindex, nofollow">#}
<meta id="base-url" data-url="{{base_url}}">
<meta id="badge-base-url" data-url="{{badge_base_url}}">

<link href="{{static_url("dist/styles.css")}}" rel="stylesheet">
<link href="{{static_url("loading.css")}}" rel="stylesheet">
<script src="{{static_url("dist/bundle.js")}}"></script>
{% endblock head %}

{% block logo %}
{% endblock logo %}

{% block main %}
<div id="main" class="container">
  {{ super() }}
</div>
{% endblock main %}
