<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {# The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags #}
  <title>{% block title %}GESIS Notebooks ({{ version }}){% endblock %}</title>
  <meta name="description" content="GESIS Notebooks ({{ version }})">
  <meta name="robots" content="noindex, nofollow">

  {% block head %}
  <link href="{{static_url("dist/styles.css")}}" rel="stylesheet"/>
  <link href="{{ static_nginx }}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  {% endblock head %}
  <script src="{{ static_nginx }}vendor/jquery-3.2.1.min.js"></script>
  <link href="{{ static_nginx }}notebooks.css?v={{ static_version }}" rel="stylesheet" />
  <link id="favicon" rel="shortcut icon" type="image/png" href="{{ static_nginx }}images/logo/logo.png?v={{ static_version }}" />

  {% block extra_css %}
  {% endblock extra_css %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{{ static_nginx }}vendor/html5shiv.min.js"></script>
      <script src="{{ static_nginx }}vendor/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    {% block body %}

{#    {% if banner %}#}
{#    <div id="banner-container">#}
{#      {{ banner | safe }}#}
{#    </div>#}
{#    {% endif %}#}

    {% block gesis_header %}
    {% include "gesis/header.html" %}
    {% endblock gesis_header %}

    {% block nav_bar %}
    {% include "gesis/nav.html" %}
    {% endblock nav_bar %}

    <div id="main-container" class="container">
        {% block headline %}
        {% endblock headline %}

        {% block main %}
        {% endblock main %}
    </div>

    {% block extra_container %}
    {% endblock extra_container %}

    {% block footer %}
    {% include "gesis/footer.html" %}
    {% endblock footer %}

    {% if extra_footer_scripts %}
    {% for script in extra_footer_scripts|dictsort %}
    <script>
      {{ script[1]|safe }}
    </script>
    {% endfor %}
    {% endif %}

    {% endblock body %}

    <script src="{{ static_nginx }}gesis_nav.js?v={{ static_version }}"></script>
    {% block extra_js %}
    {% endblock extra_js %}
</body>
</html>
