.idea/
*.pyc
jupyterhub-proxy.pid
jupyterhub.sqlite
jupyterhub_cookie_secret
cookie_secret
jhub/ssl
.Rhistory
ignore/*
documentation
#gesisbinder/secret.yaml
#gesisbinder/secret_test.yaml
#gesishub/secret.yaml
#gesishub/secret_test.yaml
#monitoring/grafana_secret.yaml
venv
monitoring/efk_stack/config_default.yaml
load_balancer/sites-available/default_nginx
gallery/bindergallery
#gesishub/gesishub/charts
#gesisbinder/gesisbinder/charts
#monitoring/elastic-stack/elastic-stack/charts
#gesisbinder/gesisbinder/requirements.lock
#gesishub/gesishub/requirements.lock
#monitoring/elastic-stack/elastic-stack/requirements.lock
