.idea/
*.pyc
jupyterhub.sqlite
jupyterhub_cookie_secret
cookie_secret
jhub/ssl
.Rhistory
ignore/*
documentation
#gesisbinder/secret.yaml
#gesisbinder/secret_test.yaml
#gesishub/secret.yaml
#gesishub/secret_test.yaml
gesishub/secret_local.yaml
nginx_shibboleth/shibboleth/conf/ignore
#monitoring/grafana_secret.yaml
venv
