{% extends "templates/loading.html" %}

{#{% block meta %}#}
{#{{ super() }}#}
{#<meta name="robots" content="noindex, nofollow">#}
{#{% endblock meta %}#}

{% block meta_social %}
<meta property="og:title" content="{{social_desc}}">
<meta property="og:description" content="Click to run this interactive environment. From the Binder Project: Reproducible, sharable, open, interactive computing environments.">
<meta property="og:image" content="https://notebooks.gesis.org/static/images/logo/logo_big_square.png?v={{ static_version }}">
<meta property="og:image:width" content="800">
<meta property="og:image:height" content="800">
<meta property="og:image:alt" content="GESIS Notebooks Logo" />
<meta name="twitter:card" content="summary">
{% endblock meta_social %}

{% block logo %}
{% endblock logo %}

{% block main %}
<div id="main" class="container">
  {{ super() }}
</div>
{% endblock main %}
