<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="GESIS Notebooks ({{version}})">
  {#<meta name="author" content="">#}
  <title>{% block title %}GESIS Notebooks ({{version}}){% endblock %}</title>
  {% block head %}
  <link href="{{static_url("dist/styles.css")}}" rel="stylesheet"/>
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  {% endblock head %}
  <script src="/static/vendor/jquery-3.2.1.min.js"></script>
  <link href="/static/notebooks.css?v=5" rel="stylesheet" />
  <link id="favicon" rel="shortcut icon" type="image/png" href="/static/images/logo/logo.png?v=1" />

  <!-- Social media previews -->
  {% block meta_social %}
  {% block meta_social_title %}
  <meta property="og:title" content="GESIS Binder">
  <meta property="og:description" content="Reproducible, sharable, open, interactive computing environments.">
  {% endblock meta_social_title %}
  <meta property="og:image" content="https://notebooks.gesis.org/static/images/logo/logo_big_square.png?v=1">
  <meta property="og:image:width" content="800">
  <meta property="og:image:height" content="800">
  <meta property="og:image:alt" content="GESIS Notebooks Logo" />
  <meta name="twitter:card" content="summary">
  {% endblock meta_social %}

  {% block extra_css %}
  {% endblock extra_css %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/static/vendor/html5shiv.min.js"></script>
      <script src="/static/vendor/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    {% block body %}

{#    {% if banner %}#}
{#    <div id="banner-container">#}
{#      {{ banner | safe }}#}
{#    </div>#}
{#    {% endif %}#}

    {% block gesis_header %}
    {% include "gesis/header.html" %}
    {% endblock gesis_header %}

    {% block nav_bar %}
    {% include "gesis/nav.html" %}
    {% endblock nav_bar %}

    <div id="main-container" class="container">
        {% block headline %}
        {% endblock headline %}

        {% block main %}
        {% endblock main %}
    </div>

    {% block extra_container %}
    {% endblock extra_container %}

    {% block footer %}
    {% include "gesis/footer.html" %}
    {% endblock footer %}

    {% if extra_footer_scripts %}
    {% for script in extra_footer_scripts|dictsort %}
    <script>
      {{ script[1]|safe }}
    </script>
    {% endfor %}
    {% endif %}

    {% endblock body %}

    <script src="/static/gesis_nav.js?v=1"></script>
    {% block extra_js %}
    {% endblock extra_js %}
</body>
</html>
