<header style="background-color: #333;">
    <div role="navigation" class="navbar navbar-default navbar-static-top">
        <div style="background-color: #333;">
            <div id="header-container" class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ gesis_url }}">
                        <img src="{{ url_for('static', filename='images/gs_home_logo_en.svg') }}" class="hidden-sm hidden-xs">
                        <img src="{{ url_for('static', filename='images/gs_small_logo_de.svg') }}" class="visible-sm visible-xs">
                    </a>
                    <div class="navbar-header pull-right visible-xs hidden-sm hidden-md hidden-lg">
                        <ul class="nav nav-pills pull-left ">
                            <li>
                                <a href="{{ about_url }}" style="display: inline; padding: 0;">
                                    <button class="navbar-toggle navbar-link">
                                        <b aria-hidden="true" class="visible-xs glyphicon glyphicon-question-sign"></b>
                                    </button>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="navbar-header pull-right hidden-xs">
                    <ul class="nav navbar-nav pull-left">
                        <li>
                            <a href="{{ about_url }}">
                                {#<span class="top-menu-item hidden-xs" {% if active == 'about' %}style="color: #ff6100;"{% endif %}>#}
                                <span class="top-menu-item hidden-xs">
                              <span aria-hidden="true" class="glyphicon glyphicon-question-sign"></span>
                              About
                          </span>
                            </a>
                        </li>
                    </ul>
                </div>
                {#<div id="header_banner" class="col-xs-12 hidden-xs hidden-sm">#}
                <div id="header_banner">
                    <a href="{{ home_url }}">
                        <img src="{{ url_for('static', filename='images/logo/logo_text.png') }}"
                             class="img-responsive" alt="To GESIS Notebooks Homepage" title="To GESIS Notebooks Homepage">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
