<div id="nav-container" class="container">
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid"
                 style="color: #58748f; background-color: #cdd5dd; border: none; border-radius: 0; padding: 0;">
                <div>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse" style="border-color: #e7e7e7;">
                    {#<ul class="nav navbar-nav" style="float:none; margin: 0 auto; display: table; table-layout: fixed;">#}
                    <ul class="nav navbar-nav">
                        {# NOTE id="navbar-active-a" class="gs_active_sub" --> used to highlight a menu element, check gesis_nav.js #}
                        <li><a href="{{ home_url }}" {% if active == 'home' %}id="navbar-active-a" class="gs_active_sub"{% endif %}>Home</a></li>
                        {% if active == 'hub' %}
                        <li class="dropdown">
                            <a href="#" id="navbar-active-a" class="dropdown-toggle gs_active_sub"
                               data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hub <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ base_url }}home">Home</a></li>
                                <li><a href="{{ base_url }}token">Token</a></li>
                                {% if user.admin %}
                                    <li><a href="{{ base_url }}admin_orc">Admin</a></li>{% endif %}
                                {#<li><a href="{% if user %}{{logout_url}}{% else %}{{login_url}}{% endif %}">{% if user %}Logout{% else %}Login{% endif %}</a></li>#}
                                <li><a href="{{ logout_url }}">Logout</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li><a href="{{ gesishub_url }}">Hub</a></li>
                        {% endif %}
                        <li><a href="{{ gesisbinder_url }}" {% if active == 'binder' %}id="navbar-active-a" class="gs_active_sub"{% endif %}>Binder</a></li>
                        <li><a href="{{ gallery_url }}" {% if active == 'gallery' %}id="navbar-active-a" class="gs_active_sub"{% endif %}>Gallery</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
