<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="GESIS Notebooks ({% if google_analytics_code == 'staging' %}test-{% endif %}beta)">
  {#<meta name="author" content="">#}
  <title>{% block title %}GESIS Notebooks ({% if google_analytics_code == 'staging' %}test-{% endif %}beta){% endblock %}</title>
  {% block head %}
{#  <link href="{{static_url("index.css")}}" rel="stylesheet"/>#}
  <link href="{{static_url("dist/styles.css")}}" rel="stylesheet"/>
  <script src="/static/vendor/jquery-3.2.1.min.js"></script>
{#  <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>#}
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
{#  <link href="/static/vendor/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />#}
  <link href="/static/notebooks.css" rel="stylesheet" />
  <link id="favicon" rel="shortcut icon" type="image/png" href="/static/images/logo/logo.png" />
  {% endblock head %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/static/vendor/html5shiv.min.js"></script>
      <script src="/static/vendor/respond.min.js"></script>
    <![endif]-->

  {% block etracker %}
  {% if google_analytics_code == 'production' %}
  {% set etracker_prefix = "NOTEBOOKS" %}
  <!-- Copyright (c) 2000-2016 etracker GmbH. All rights reserved. -->
  <!-- This material may not be reproduced, displayed, modified or distributed -->
  <!-- without the express prior written permission of the copyright holder. -->
  <!-- etracker tracklet 4.0 -->
  <script type="text/javascript">
      var et_pagename = "{{ etracker_prefix }}%2FBinder%3Abinder%2F";
      var et_areas = "{{ etracker_prefix }}%2Fbinderhub";
  </script>
  <script id="_etLoader" type="text/javascript" charset="UTF-8" data-secure-code="qPKGYV"
          src="//static.etracker.com/code/e.js"></script>
  <noscript>
      <link rel="stylesheet" media="all"
            href="//www.etracker.de/cnt_css.php?et=qPKGYV&amp;v=4.0&amp;java=n&amp;et_easy=0&amp;
                    et_pagename={{ etracker_prefix }}%2FBinder%3Abinder%2F&amp;
                    et_areas={{ etracker_prefix }}%2Fbinderhub&amp;
                    et_ilevel=0&amp;et_target=,0,0,0&amp;et_lpage=0&amp;et_trig=0&amp;et_se=0&amp;et_cust=0&amp;
                    et_basket=&amp;et_url=&amp;et_tag=&amp;et_sub=&amp;et_organisation=&amp;et_demographic="/>
  </noscript>
  <!-- etracker tracklet 4.0 end -->
  {% endif %}
  {% endblock etracker %}

  {% block extra_css %}
  {% endblock extra_css %}
</head>
<body>
    {% block body %}
    {% block header %}
    <header style="background-color: #333;">
      <div role="navigation" class="navbar navbar-default navbar-static-top">
          <div style="background-color: #333;">
          <div id="header-container" class="container">
              <div class="navbar-header">
                  <a class="navbar-brand" href="https://www.gesis.org/en/home/">
                      <img src="/static/images/gs_home_logo_en.svg" class="hidden-sm hidden-xs">
                      <img src="/static/images/gs_small_logo_de.svg" class="visible-sm visible-xs">
                  </a>
                  <div class="navbar-header pull-right visible-xs hidden-sm hidden-md hidden-lg">
                      <ul class="nav nav-pills pull-left ">
    {#                              <li class="dropdown" id="ds-language-selection-xs">
                              <button data-toggle="dropdown" class="dropdown-toggle navbar-toggle navbar-link"
                                      role="button" href="#" id="language-dropdown-toggle-xs">
                                  <b aria-hidden="true" class="visible-xs glyphicon glyphicon-globe"></b>
                              </button>
                              <ul data-no-collapse="true" aria-labelledby="language-dropdown-toggle-xs" role="menu"
                                  class="dropdown-menu pull-right">
                                  <li role="presentation">
                                      <a href="http://www.ssoar.info:80/ssoar/?locale-attribute=de">Deutsch</a>
                                  </li>
                                  <li role="presentation" class="disabled">
                                      <a href="http://www.ssoar.info:80/ssoar/?locale-attribute=en">English</a>
                                  </li>
                              </ul>
                          </li>#}
                          <li>
                              <a href="mailto:notebooks@gesis.org" style="display: inline; padding: 0;">
                                  <button class="navbar-toggle navbar-link">
                                      <b aria-hidden="true" class="visible-xs glyphicon glyphicon-envelope"></b>
                                  </button>
                              </a>
                          </li>
                          <li>
                              <a href="/about/" style="display: inline; padding: 0;">
                                  <button class="navbar-toggle navbar-link">
                                      <b aria-hidden="true" class="visible-xs glyphicon glyphicon-question-sign"></b>
                                  </button>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="navbar-header pull-right hidden-xs">
    {#                      <ul class="nav navbar-nav pull-left">
                      <li class="dropdown" id="ds-language-selection">
                          <a data-toggle="dropdown" class="dropdown-toggle" role="button" href="#"
                             id="language-dropdown-toggle">
                              <span aria-hidden="true" class="glyphicon glyphicon-globe"></span>
                              <span class="hidden-xs">English&nbsp;<b class="caret"></b></span>
                          </a>
                          <ul data-no-collapse="true" aria-labelledby="language-dropdown-toggle" role="menu"
                              class="dropdown-menu pull-right">
                              <li role="presentation">
                                  <a href="http://www.ssoar.info:80/ssoar/?locale-attribute=de">Deutsch</a>
                              </li>
                              <li role="presentation" class="disabled">
                                  <a href="http://www.ssoar.info:80/ssoar/?locale-attribute=en">English</a>
                              </li>
                          </ul>
                      </li>
                  </ul>#}
                  <ul class="nav navbar-nav pull-left">
                      <li>
                          <a href="mailto:notebooks@gesis.org">
                              <span class="top-menu-item hidden-xs">
                                  <span aria-hidden="true" class="glyphicon glyphicon-envelope"></span>
                                  Contact
                              </span>
                          </a>
                      </li>
                  </ul>
                  <ul class="nav navbar-nav pull-left">
                      <li>
                          <a href="/about/">
{#                              <span class="top-menu-item hidden-xs" {% if active == 'about' %}style="color: #ff6100;"{% endif %}>#}
                              <span class="top-menu-item hidden-xs">
                                  <span aria-hidden="true" class="glyphicon glyphicon-question-sign"></span>
                                  About
                              </span>
                          </a>
                      </li>
                  </ul>
              </div>
    {#                  <div id="header_banner" class="col-xs-12 hidden-xs hidden-sm">#}
              <div id="header_banner">
                  <a  href="/">
                      <img src="/static/images/gs_ms_banner_default_notebooks{% if google_analytics_code == 'staging' %}_test{% endif %}_beta.png" class="img-responsive"
                           alt="To GESIS Notebooks Homepage" title="To GESIS Notebooks Homepage">
                  </a>
              </div>
          </div>
          </div>
      </div>
    </header>
    {% endblock header %}

    <div id="main-container" class="container">
        <div class="row">
            <nav class="navbar navbar-default">
              <div class="container-fluid" style="color: #58748f; background-color: #cdd5dd; border: none; border-radius: 0; padding: 0;">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse" style="border-color: #e7e7e7;">
{#                  <ul class="nav navbar-nav" style="float:none; margin: 0 auto; display: table; table-layout: fixed;">#}
                  <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
{#                    <li><a href="https://notebooks{% if google_analytics_code == 'staging' %}-test{% endif %}.gesis.org/Shibboleth.sso/Login?SAMLDS=1&target=https://notebooks{% if google_analytics_code == 'staging' %}-test{% endif %}.gesis.org/jupyter/hub/login&entityID=https%3A%2F%2Fidp.gesis.org%2Fidp%2Fshibboleth">Your Server</a></li>#}
                    <li><a href="/jupyter/">Your Server</a></li>
                    <li><a href="/binder/" id="navbar-active-a" class="gs_active_sub">Binder</a></li>
                  </ul>
                </div>
              </div>
            </nav>
        </div>
        {% block headline %}
        {% endblock headline %}

        {% block main %}
        {% endblock main %}
    </div>

    {% block extra_container %}
    {% endblock extra_container %}

    {% block footer %}
    <footer class="footer">
      <div class="container">
          <span class="footer-span">
              <img src="/static/images/leibniz_logo_en_white.svg" width="78" height="54" alt="Leibniz Logo"/>
          </span>
          <span class="footer-span">
              <a class="footer-link" href="https://www.gesis.org/en/institute/imprint/">Imprint</a>
          </span>
          <span class="footer-span">
              <a class="footer-link" href="https://www.gesis.org/en/institute/data-protection/">Data protection</a>
          </span>
          <span class="footer-span">
              &copy; GESIS
          </span>
      </div>
    </footer>
    {% endblock footer %}

    {% endblock body %}

    <script>
        $("div#navbar>ul>li>a").hover(
            function() {
                // in
                $("div#navbar>ul>li>a").removeClass("gs_active_sub");
                $(this).addClass( "gs_active_sub" );
                },
            function() {
                // out
                $(this).removeClass( "gs_active_sub" );
                $("#navbar-active-a").addClass( "gs_active_sub" );
                }
            );
    </script>
    {% block extra_js %}
    {% endblock extra_js %}
</body>
</html>
