/*row-side-margins used only at about.html*/
.row-side-margins{
    padding-left: 30px;
    padding-right: 30px;
}
.title{
    font-family: "Droid Sans", Arial, Verdana, Helvetica, sans-serif;
    color: #58748f;
}
.description {
    font-family: "Droid Sans", Arial, Verdana, Helvetica, sans-serif;
    color: #777;
}
.sponsored{
    padding-left: 0;
    display: flex;
}
.row .sponsored .gesis-logo{  /* Gesis Logo at #supported by  in about.html*/
    margin-left: 20%;
}
/*Home Project text Open Research Computing for the Social Sciences*/
.project-text{
    display: flex;
    align-items: center;
}

.error-background{
    background-color: #ffffff;
}