#main-container {
	/*overflow: hidden;*/
	background-color: #fff;
	padding-left: 32px;
	padding-right: 32px;
}
/*#main-container .navbar-toggle {*/
/*	padding: 0 0;*/
/*    !*margin-top: 7px;*!*/
/*    !*margin-bottom: 0;*!*/
/*}*/

#header {
	margin-left: 3%;
	margin-bottom: 32px;
	margin-top: 32px;
	width: 94%;
	border-bottom: 0;
	padding-top: 12px;
	padding-bottom: 24px;
}

/* admin interface */
.email-col {
	max-width: 25ch;
	overflow: overlay;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}

/* control panel - home page of logged in user*/
.project-launch {
    vertical-align: top;
}
.delete-project-label {
    font-weight: normal;
}

#build-form {
	margin-bottom: 0;
}

.url, .badges {
	display: none;
}

#how-it-works-gesis {
	margin: 54px -16px 0 -16px;
}

.caption {
	padding: 8px;
}
.caption > h4 {
	margin: 0;
}
.caption > p {
	font-size: 14px;
}
.caption > p > a {
	color: #337ab7;
	border-bottom: none;
	text-decoration: none;
}
.caption > p > a:hover {
	text-decoration: underline;
}
.project-caption > h4 {
	margin: 0;
	font-size: 16px;
}
.project-caption > h4 > b,small,i {
	font-size: 13px;
}
.project-caption > div {
	display: inline-block; vertical-align: middle;
}
.project-language {
	display: inline-block;
}
.project-language > b {
	font-size: 13px;
}
.project-badge {
	display: inline-block;
	float: right;
}
.project-badge > a {
	align: right;
}

.see-all-projects {
	padding: 0 16px 0 16px;
}
.see-all-projects > a {
	float:right;
}

/* projects table  */
td.projects-display-name {
    vertical-align: middle!important;
    /* truncate long repo display names */
    max-width: 50ch;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-text {
	padding-top: 30px;
	padding-bottom: 30px;
	margin: -30px -32px 15px -32px;
    display: flex;
    align-items: center;
}

.project-text > div> img {
	max-width: 80%;
}


.orc-button, .orc-button:hover, .orc-button:active, .orc-button:visited, .orc-button:focus, .orc-button:active:focus {
    background-color: #ff6100;
    border-color: #ff6100;
}

.orc-button-info, .orc-button-info:hover, .orc-button-info:active, .orc-button-info:visited, .orc-button-info:focus, .orc-button-info:active:focus {
    background-color: #58748f;
    border-color: #58748f;
}

/*Thumbnail - same height*/
#how-it-works-gesis, .featured-projects.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.thumbnail {
	height: 100%;
	border-radius: 0;
	background-color: #e6e6e6;
	/* extra positioning */
	display: flex;
    flex-direction: column;
}

.thumbnail .caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#gesis-notebooks-img {
	padding-left: 16px;
}

#typed, .typed-cursor {
	/* css for typed elements*/
	font-size: 42px;
    line-height: 1.3;
}

#questions {
	margin-top: 0;
	font-size: 24px;
}

#explanation {
    font-weight: normal;
    line-height: 1.4;
	color: rgb(40, 40, 40);
	font-size: 1.8em;
}

.featured-projects {
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	margin-bottom:0;
}

.project-example {
	margin-bottom: 10px;
	padding-right: 6px;
	padding-left: 6px;
}

.use-examples > img{
	height: 100px;
	width: auto;
}


#login-main {
	padding-bottom: 30px;
}


#your-projects {
border: 1px solid #ccc;
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
border-radius: 4px;
}

#your-projects > thead {
/*	background-color: #DDDDDD; */
}

#your-projects > tbody > tr {
	background-color: #f5f5f5;
	border: 1px solid #ccc;
}

.projects-container {
	padding-left: 18px;
	padding-right:18px;
	margin-left: -33px;
	margin-right: -33px;
}

.build-form {
	padding: 5px 18px 20px 18px !important;
}

.build-project-container {
	background: rgb(235, 236, 237);
	margin: 0px;
}
