<footer class="footer">
    <div class="container footer-container">
      <span class="footer-span">
          <img src="{{ static_nginx }}images/leibniz_logo_en_white.svg?v={{ static_version }}" width="78" height="54" alt="Leibniz Logo"/>
      </span>
        <span class="footer-span-no-padding">
          <a class="footer-link" href="{{ imprint_url }}">Imprint</a> |
      </span>
        <span class="footer-span-no-padding">
          <a class="footer-link" href="{{ data_protection_url }}">Data protection</a> |
      </span>
        <span class="footer-span-no-padding">
          <a class="footer-link" href="{{ tou_url }}">Terms of Use</a> |
      </span>
        <span class="footer-span">
          <a class="footer-link" href="{{ status_url }}">Status</a>
      </span>
        <span class="footer-span">
          &copy; GESIS
      </span>
    </div>
</footer>
