<header>
    <div role="navigation" class="navbar navbar-default navbar-static-top">
        <div>
            <div id="header-container" class="container">
                <div class="navbar-header">

                    <a class="navbar-brand" href="{{ gesis_url }}">
                        <img src="{{ static_nginx }}images/gs_home_logo_en.svg?v={{ static_version }}" class="hidden-sm hidden-xs" width="200" height="37">
                        <img src="{{ static_nginx }}images/gs_small_logo_de.svg?v={{ static_version }}" class="visible-sm visible-xs">
                    </a>

                    <div class="pull-right visible-xs hidden-sm hidden-md hidden-lg">
                        <ul class="nav nav-pills pull-left ">
                            {% if active == 'home' %}
                            <li>
                                <a class="header-icon-link" href="{{ login_url }}">
                                    <button class="navbar-toggle navbar-link">
                                        <b aria-hidden="true" class="visible-xs glyphicon glyphicon glyphicon-log-in"></b>
                                    </button>
                                </a>
                            </li>
                            {% elif active == 'hub' and user %}
                            <li>
                                <a class="header-icon-link" href="{{ logout_url }}">
                                    <button class="navbar-toggle navbar-link">
                                        <b aria-hidden="true" class="visible-xs glyphicon glyphicon glyphicon-log-out"></b>
                                    </button>
                                </a>
                            </li>
                            {% endif %}
                            <li>
                                <a class="header-icon-link" href="{{ about_url }}">
                                    <button class="navbar-toggle navbar-link">
                                        <b aria-hidden="true" class="visible-xs glyphicon glyphicon-question-sign"></b>
                                    </button>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="navbar-header pull-right hidden-xs">
                    <ul class="nav navbar-nav pull-left">
                        {% if active == 'home' %}
                        <li>
                            <a href="{{ login_url }}">
                                <span class="top-menu-item hidden-xs">
                              <span aria-hidden="true" class="glyphicon glyphicon glyphicon-log-in"></span>
                              Login
                          </span>
                            </a>
                        </li>
                        {% elif active == 'hub' and user %}
                        <li>
                            <a href="https://login.gesis.org/">
                                <span class="top-menu-item hidden-xs">
                              <span aria-hidden="true" class="glyphicon glyphicon glyphicon-user"></span>
                              {{ user }}
                          </span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ logout_url }}">
                                <span class="top-menu-item hidden-xs">
                              <span aria-hidden="true" class="glyphicon glyphicon glyphicon-log-out"></span>
                              Logout
                          </span>
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{{ about_url }}">
                                <span class="top-menu-item hidden-xs">
                              <span aria-hidden="true" class="glyphicon glyphicon-question-sign"></span>
                              About
                          </span>
                            </a>
                        </li>
                    </ul>
                </div>
                {#<div id="header_banner" class="col-xs-12 hidden-xs hidden-sm">#}
                <div id="header_banner">
                    <a href="{{ home_url }}">
                        <img src="{{ static_nginx }}images/logo/logo_text_2.png?v={{ static_version }}"
                             class="img-responsive" alt="To GESIS Notebooks Homepage" title="To GESIS Notebooks Homepage">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
