{% extends "home.html" %}

{% block meta_social %}
<meta property="og:title" content="GESIS Notebooks">
<meta property="og:description" content="Open Research Computing for the Social Sciences.">
<meta property="og:image" content="https://notebooks.gesis.org/static/images/logo/logo_big_square.png?v={{ static_version }}">
<meta property="og:image:width" content="800">
<meta property="og:image:height" content="800">
<meta property="og:image:alt" content="GESIS Notebooks Logo"/>
<meta name="twitter:card" content="summary">
{% endblock meta_social %}

{% block stylesheet %}
<link href="{{ static_nginx }}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
{#<link rel="stylesheet" href="{{ static_url("css/style.min.css") }}" type="text/css"/>#}
{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block scripts %}
{#<script src="{{static_url("components/requirejs/require.js") }}" type="text/javascript" charset="utf-8"></script>#}
<script src="{{static_url("components/jquery/dist/jquery.min.js") }}" type="text/javascript" charset="utf-8"></script>
<script src="{{static_url("components/bootstrap/dist/js/bootstrap.min.js") }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block require_script %}
{% endblock require_script %}

  {% block etracker %}
  {% if production %}
  {% with et_pagename="/GESISHub:home/", et_areas="/GESISHub" %}
      {% include "gesis/etracker.html" %}
  {% endwith %}
  {% endif %}
  {% endblock etracker %}

{% block projects_form %}
<div class="row text-center project-text">
  {#    <div class="col-lg-1 col-md-1"></div>#}
  {#    <div class="col-lg-10 col-lg-offset-1 text-center">#}
  <div class="col-lg-6 col-md-6 col-sm-5 hidden-xs">
      <img alt="GESIS Notebooks" src="{{ static_nginx }}images/notebook.png?v={{ static_version }}"
           class="img-responsive center-block" id="gesis-notebooks-img">
  </div>
  <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12">
      <a href="{{ login_url }}" class="btn btn-lg btn-warning orc-button" role="button">Download your data >></a>
  </div>
</div>
{% endblock projects_form %}

  {% block how_it_works %}

  {% endblock how_it_works %}
