{% extends "page.html" %}

{% if is_production %}
    {% block etracker_et_pagename %}%2FGallery%3Agallery%2F{% endblock etracker_et_pagename %}
    {% block etracker_et_pagename_nojs %}%2FGallery%3Agallery%2F{% endblock etracker_et_pagename_nojs %}
    {% block etracker_et_areas %}%2Fgallery{% endblock etracker_et_areas %}
    {% block etracker_et_areas_no_js %}%2Fgallery{% endblock etracker_et_areas_no_js %}
{% endif %}

{% block extra_css %}
<link rel="stylesheet" href="/static/vendor/jquery-ui-1.12.1/jquery-ui.css">
{% endblock extra_css %}

{% block main %}

    <div id="tabs">
        <h2>Popular repositories</h2>

        <ul>
            {% for i, title, popular_repos, time_range in popular_repos_all %}
                <li><a href="#tabs-{{ i }}">{{ title }}</a></li>
            {% endfor %}
        </ul>

        {% for i, title, popular_repos, time_range in popular_repos_all %}
            <div id="tabs-{{ i }}" class="table-responsive" style="padding: 0;">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Repo</th>
                        <th scope="col">Org./User</th>
                        <th scope="col">Provider</th>
                        <th scope="col">Launches</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for repo_data in popular_repos[:5] %}
                        <tr>
                            <td><a href="{{ repo_data[4] }}" target="_blank">{{ repo_data[0] }} </a>
                            </td>
                            <td>{{ repo_data[1] }}</td>
                            <td>{{ repo_data[2] }}</td>
                            <td>{{ repo_data[3] }}</td>
                            <td>
                                {% if repo_data[5] %}
                                <a href="{{ repo_data[5] }}" target="_blank">
                                <img src="https://notebooks.gesis.org/binder/badge_logo.svg">
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                    <tfoot>
                    <tr>
                        <td colspan="5">
                            <a href="/gallery/popular_repos/{{ time_range }}">
                                View all ({{ title }})
                            </a>
                        </td>
                    </tr>
                    </tfoot>

                </table>

            </div>
        {% endfor %}
    </div>

    <div class="table-responsive">
        <h2> Created by GESIS</h2>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Repo</th>
                <th scope="col">Org./User</th>
                <th scope="col">Provider</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for repo_name, repo_url, org, provider, binder_url, description in created_by_gesis %}
                <tr>
                    <td><a href="{{ repo_url }}" target="_blank">{{ repo_name }}</a></td>
                    <td>{{ org }}</td>
                    <td>{{ provider }}</td>
                    <td data-toggle="collapse" data-target="#mc-{{ repo_name }}" aria-expanded="false" aria-controls="mc-{{ repo_name }}">
                        {% if description %}
                        <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list"></span> Description</button>
                        {% endif %}
                    </td>
                    <td>
                        {% if binder_url %}
                        <a href="{{ binder_url }}" target="_blank">
                            <img src="https://notebooks.gesis.org/binder/badge_logo.svg">
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% if description %}
                <tr class="collapse multi-collapse" id="mc-{{ repo_name }}">
                    <td colspan="5">{{ description }}</td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock main %}

{% block extra_js %}
<script src="/static/vendor/jquery-ui-1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>
{% endblock extra_js %}