{% extends "page.html" %}

{% if is_production %}
    {% block etracker_et_pagename %}%2FGallery%3Agallery%2F{% endblock etracker_et_pagename %}
    {% block etracker_et_pagename_nojs %}%2FGallery%3Agallery%2F{% endblock etracker_et_pagename_nojs %}
    {% block etracker_et_areas %}%2Fgallery{% endblock etracker_et_areas %}
    {% block etracker_et_areas_no_js %}%2Fgallery{% endblock etracker_et_areas_no_js %}
{% endif %}
{% block extra_css %}
    <link rel="stylesheet" href="/static/vendor/DataTables/DataTables-1.10.18/css/dataTables.bootstrap.min.css">
{% endblock extra_css %}

{% block main %}
    <h2>
        <a href="/gallery/popular_repos/{{ title[1] }}">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
        </a>
        {{ title[0] }}
        <a href="/gallery/popular_repos/{{ title[2] }}">
            <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </h2>
    <div class="table-responsive">
        <table id="repos-table" class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Repo</th>
                <th scope="col">Org./User</th>
                <th scope="col">Provider</th>
                <th scope="col">Launches</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for repo_data in popular_repos %}
                <tr>
                    <td><a href="{{ repo_data[4] }}" target="_blank">{{ repo_data[0] }}</a></td>
                    <td>{{ repo_data[1] }}</td>
                    <td>{{ repo_data[2] }}</td>
                    <td>{{ repo_data[3] }}</td>
                    <td>
                        {% if repo_data[5] %}
                            <a href="{{ repo_data[5] }}" target="_blank">
                                <img src="https://notebooks.gesis.org/binder/badge_logo.svg">
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    {% block extra_js %}
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        {#https://datatables.net/#}
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

        <script>
            $(document).ready(function () {
                if ($.fn.dataTable.isDataTable('#repos-table')) {
                    table = $('#repos-table').DataTable();
                }
                else {
                    table = $('#repos-table').DataTable({
                        "order": [[3, "desc"]]
                    });
                }
            });
        </script>
    {% endblock extra_js %}
{% endblock main %}
