<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="GESIS Notebooks ({{version}})">
  {#<meta name="author" content="">#}
  <title>{% block title %}GESIS Notebooks ({{version}}){% endblock %}</title>
  {% block head %}
  <link href="{{static_url("dist/styles.css")}}" rel="stylesheet"/>
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  {% endblock head %}
  <script src="/static/vendor/jquery-3.2.1.min.js"></script>
  <link href="/static/notebooks.css" rel="stylesheet" />
  <link id="favicon" rel="shortcut icon" type="image/png" href="/static/images/logo/logo.png" />

  {% block extra_css %}
  {% endblock extra_css %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/static/vendor/html5shiv.min.js"></script>
      <script src="/static/vendor/respond.min.js"></script>
    <![endif]-->

  {% block etracker %}
  {% if production %}
  {% set etracker_prefix = "NOTEBOOKS" %}
  <!-- Copyright (c) 2000-2016 etracker GmbH. All rights reserved. -->
  <!-- This material may not be reproduced, displayed, modified or distributed -->
  <!-- without the express prior written permission of the copyright holder. -->
  <!-- etracker tracklet 4.0 -->
  <script type="text/javascript">
      var et_pagename = "{{ etracker_prefix }}%2FGESISBinder%3Abinder%2F";
      var et_areas = "{{ etracker_prefix }}%2FGESISBinder";
  </script>
  <script id="_etLoader" type="text/javascript" charset="UTF-8" data-secure-code="qPKGYV"
          src="//static.etracker.com/code/e.js"></script>
  <noscript>
      <link rel="stylesheet" media="all"
            href="//www.etracker.de/cnt_css.php?et=qPKGYV&amp;v=4.0&amp;java=n&amp;et_easy=0&amp;
                  et_pagename={{ etracker_prefix }}%2FGESISBinder%3Abinder%2F&amp;
                  et_areas={{ etracker_prefix }}%2FGESISBinder&amp;
                  et_ilevel=0&amp;et_target=,0,0,0&amp;et_lpage=0&amp;et_trig=0&amp;et_se=0&amp;et_cust=0&amp;
                  et_basket=&amp;et_url=&amp;et_tag=&amp;et_sub=&amp;et_organisation=&amp;et_demographic="/>
  </noscript>
  <!-- etracker tracklet 4.0 end -->
  {% endif %}
  {% endblock etracker %}
</head>

<body>
    {% block body %}

{#    {% if banner %}#}
{#    <div id="banner-container">#}
{#      {{ banner | safe }}#}
{#    </div>#}
{#    {% endif %}#}

    {% block gesis_header %}
    {% include "gesis/header.html" %}
    {% endblock gesis_header %}

    {% block nav_bar %}
    {% include "gesis/nav.html" %}
    {% endblock nav_bar %}

    <div id="main-container" class="container">
        {% block headline %}
        {% endblock headline %}

        {% block main %}
        {% endblock main %}
    </div>

    {% block extra_container %}
    {% endblock extra_container %}

    {% block footer %}
    {% include "gesis/footer.html" %}
    {% endblock footer %}

    {% if extra_footer_scripts %}
    {% for script in extra_footer_scripts|dictsort %}
    <script>
      {{ script[1]|safe }}
    </script>
    {% endfor %}
    {% endif %}

    {% endblock body %}

    <script src="/static/gesis_nav.js"></script>
    {% block extra_js %}
    {% endblock extra_js %}
</body>
</html>
