{% extends "page.html" %}

{% if is_production %}
    {% block etracker_et_pagename %}%2FAbout%3Aabout%2F{% endblock etracker_et_pagename %}
    {% block etracker_et_pagename_nojs %}%2FAbout%3Aabout%2F{% endblock etracker_et_pagename_nojs %}
    {% block etracker_et_areas %}%2Fabout{% endblock etracker_et_areas %}
    {% block etracker_et_areas_no_js %}%2Fabout{% endblock etracker_et_areas_no_js %}
{% endif %}

{% block extra_css %}
<link rel="stylesheet" href="/static/vendor/jquery-ui-1.12.1/jquery-ui.css">
  <script src="/static/vendor/jquery-ui-1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#tabs" ).tabs({
      event: "mouseover"
    });
  } );
  </script>
{% endblock extra_css %}

{% block main %}



    <div id="tabs">
        <h1>Popular repositories</h1>

        <ul>
            {% for i, title, popular_repos, time_range in popular_repos_all %}
                <li><a href="#tabs-{{ i }}">{{ title }}</a></li>
            {% endfor %}
        </ul>

        {% for i, title, popular_repos, time_range in popular_repos_all %}
            <div id="tabs-{{ i }}" class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Repo</th>
                        <th scope="col">Org./User</th>
                        <th scope="col">Provider</th>
                        <th scope="col">Launches</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for repo_name, repo_data in popular_repos[:5] %}
                        <tr>
                            <td><a href="{{ repo_data[3] }}" target="_blank">{{ repo_name }}</a></td>
                            <td>{{ repo_data[0] }}</td>
                            <td>{{ repo_data[1] }}</td>
                            <td>{{ repo_data[2] }}</td>
                            <td><a href="{{ repo_data[4] }}" target="_blank">
                                <img src="https://notebooks.gesis.org/binder/badge.svg">
                            </a></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5">
                            <a href="/gallery/view_all/{{ time_range }}"
                               class="btn form-control btn-lg btn-warning orc-button">View all {{ title }}</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}

        <div>
            <h1> Created by GESIS</h1>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Repo</th>
                    <th scope="col">Org./User</th>
                    <th scope="col">Provider</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for repo_name, repo_data in created_by_GESIS %}
                    <tr>
                        <td><a href="{{ repo_data[2] }}" target="_blank">{{ repo_name }}</a></td>
                        <td>{{ repo_data[0] }}</td>
                        <td>{{ repo_data[1] }}</td>
                        <td><a href="{{ repo_data[2] }}" target="_blank">
                            <img src="https://notebooks.gesis.org/binder/badge.svg">
                        </a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>

    </div>

{% endblock main %}