{% extends "page.html" %}

{% block main %}
<div class="row form-group" style="padding-left: 32px; padding-right: 32px;">
  <div id="header" class="text-center">
      <div id="explanation">
          Frequently Asked Questions
      </div>
  </div>
    {% for section in question_answers%}
    <h3 style="margin-bottom: 1.4rem;">{{section["Section"].get("Name")}}</h3>

    <div class="panel-group" id="accordion">
      {% for questions in section['Section']['Questions'] %}
        {% for question in questions.items() %}
          <div class="panel panel-default">
              <div class="panel-heading topic-question">
                  <h3 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion{{question[1].get('ID')}}" href="#{{question[1].get('ID')}}"><strong>{{question[1].get('Question')}}</strong></a>
                  </h3>
              </div>
              <div id="{{question[1].get('ID')}}" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>
                      {{question[1].get('Answer')|safe}}
                    </p>
                  </div>
              </div>
          </div>
          {% endfor %}
        {% endfor %}
      </div>

  {% endfor%}
  </div>

  <script type="text/javascript">
    $('.panel-collapse').on('show.bs.collapse', function () {
     $(this).siblings('.panel-heading').addClass('active');
   });

   $('.panel-collapse').on('hide.bs.collapse', function () {
     $(this).siblings('.panel-heading').removeClass('active');
   });

  </script>
{% endblock main %}
